<!doctype html>

<html ng-app lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Betweet.net - La red de apuestas gratuitas!</title>
	<!-- Date: 2013-07-22 -->
	
	<!-- JavaScript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="/js/form-creator.js"></script>
</head>
<body>

{% if auth == 'LOGGED_IN' %}
<p>You are {{ var.get('name') }} <img src="{{ var.get('profile_image_url') }}" width="33px"</p>
{% else %}
<p><a href="{{ var }}">Login</a></p>
{% endif %}

<div id="wrapper">
  <h1>Crea una apuesta</h1>
  {% raw %}
  <form action="" method="get" accept-charset="utf-8">
    <div ng-controller="createBet">
      #<input type="text" name="bet_hashtag" value="" id="bet_hashtag" size="30" placeholder="hashtag" ng-model="hashtag"/>
    <div ng-repeat="choice in choices">
      <hr />
      <input type="text" name="{{choice.bet_name}}_info" value="" id="{{choice.bet_name}}_info" placeholder="Descripción breve del campo" size="100">
      <br />
      Tipo de campo
      <select name="{{choice.bet_name}}">
        <option value="1" selected>Multiopción</option>
        <option value="2">Número</option>
      </select>
      {{choice.bet_options}}
    </div>
    <div>
      <hr />
      <input type="button" name="add_more" value="+" id="add_more" ng-click="addChoice()" />
    </div>
    
    <div>
      <h3>Vista Previa de una apuesta genérica</h3>
      <div class="tweet">{{preview()}}</div>
      <div>{{count()}}/140</div>
    </div>
    
    <div><input type="submit" value="Continue &rarr;" /></div>
    
    </div><!-- end createBet scope-->
  </form>
  {% endraw %}
</div>

</body>
</html>
