{% extends "templates/base.html" %}

{% block body %}

<div class="row">

{% if auth == 'LOGGED_IN' %}

<form name="auth">
	<input type="hidden" name="username" value="{{ var.get('screen_name') }}">
</form>

<div class="col-6 col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Betweet.net</h3>
		</div>
	
		<p>{{ var.get('name') }} <img src="{{ var.get('profile_image_url') }}" width="33px">
			<a href="/logout">Logout</a>
		</p>
		<p>Create a new bet <a href="/new">form</a></p>
	</div>
	<div class="panel" ng-controller="indexCtrl">
		<div class="panel-heading">
			<h3 class="panel-title">Last bet forms.</h3>
		</div>
		<ul class="list-group" ng-repeat="form in last">
			<li class="list-group-item">
			{% raw %}
			<span class="badge">{{ form.bets }}</span> 
			<a href="http://betweetdotnet.appspot.com/viewform?key={{ form.key  }}">
				{{ form.description }} | Valid until {{ form.until | date:'MM/dd/yyyy @ h:mma' }}
			</a>
			{% endraw %}				
			</li>
		</ul>
	</div>
</div>

<div class="col-6 col-lg-4">
	{% raw %}
	<div ng-controller="indexCtrl">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Last bet forms created</h3>
			</div>
			<ul class="list-group" ng-repeat="form in forms">
				<li class="list-group-item">
				<span class="badge">{{ form.bets }}</span> 
				<a href="http://betweetdotnet.appspot.com/viewform?key={{ form.key  }}">
					{{ form.description }} | Valid until {{ form.until | date:'MM/dd/yyyy @ h:mma' }}
				</a>
				</li>
			</ul>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Last bets done</h3>
			</div>
			<ul class="list-group" ng-repeat="bet in bets">
				<li class="list-group-item">
				{{ bet.description }}, {{ bet.time | date:'MM/dd/yyyy @ h:mma' }}
				</li>
			</ul>
		</div>
	</div>
	{% endraw %}
</div>

{% else %}

<div class="col-6 col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Betweet.net</h3>
		</div>
		<p><a href="{{ var }}">Login</a></p>
	</div>
</div>

<div class="col-6 col-lg-4">
	<div class="panel" ng-controller="anonIndexCtrl">
		<div class="panel-heading">
			<h3 class="panel-title">Last bet forms.</h3>
		</div>
		<ul class="list-group" ng-repeat="form in last">
			<li class="list-group-item">
			{% raw %}
			<span class="badge">{{ form.bets }}</span> 
			<a href="http://betweetdotnet.appspot.com/viewform?key={{ form.key  }}">
				{{ form.description }} | Valid until {{ form.until | date:'MM/dd/yyyy @ h:mma' }}
			</a>
			{% endraw %}				
			</li>
		</ul>
	</div>
</div>
{% endif %}
</div>

{% endblock %}
