<!doctype html>

<html ng-app lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Betweet.net - La red de apuestas gratuitas!</title>
	
</head>
<body>

{% if auth == 'LOGGED_IN' %}
<p>You are {{ var.get('name') }} <img src="{{ var.get('profile_image_url') }}" width="33px"</p>
{% else %}
<p><a href="{{ var }}">Login</a></p>
{% endif %}

<p>This is the entry page</p>

{% if auth == 'LOGGED_IN' %}
<p>You are logged in, you can create <a href="/form">forms</a></p>
{% else %}
<p>Well, you can still vote</p>
{% endif %}


</body>
</html>