{% extends "templates/base.html" %}

{% block body %}

<div class="row">

{% if auth == 'LOGGED_IN' %}

<div class="col-6 col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3><a href="/">Betweet.net</a></h3>
		</div>
	<p>{{ var.get('name') }} <img src="{{ var.get('profile_image_url') }}" width="33px">
		<a href="/logout">Logout</a>
	</p>
	<p>Create a new bet <a href="/new">form</a></p>
	</div>
</div>

<div class="col-6 col-lg-4" ng-controller="fieldCtrl">
	<div class="panel">
		<div class="panel-heading">
			<h3>Bet</h3>
		</div>
		<p>{{ thisform['description'] }} </p>
		<form name="bet" ng-submit="submitBet()">
			<input type="hidden" name="numfields" value="{{ thisform['fields'] | length }}">
			<input type="hidden" name="form_key" value="{{ thisform['key'] }}">
			<input type="hidden" name="username" value="{{ var.get('screen_name') }}">
			<input type="hidden" name="auth" value="1">
			<ul class="list-group">
				{% for field in thisform['fields'] %}
					<li class="list-group-item">
						<h5 class="list-group-item-heading">{{ field['Descr'] }}</h5>
						<select name="{{ field['name'] }}">
						{% for v in field['Val'] %}
							<option>
								{{ v }}
							</option>
						{% endfor %}
						</select>
					</li>
				{% endfor %}
				<li class="list-group-item text-right">
					<input class="btn btn-success" type="submit" value="Bet">
				</li>
			</ul>
			
		</form>
		<div class="panel-info">
			<div class="panel-heading">
				<h5>Additional information</h5>
			</div>
			{{ thisform['info'] }}
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Bets</h5>
		</div>
		
		<div ng-repeat="bet in bets">
			{% raw %}
			<img src="{{ bet.avatar }}" width="33px" class="img-circle">
			{% endraw %}
		</div>
	</div>
</div>


{% else %}

{% if thisform['authenticated'] %}

<div class="col-6 col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3><a href="/">Betweet.net</a></h3>
		</div>
		<p>You must log in to bet on this<a href="{{ var }}">Login</a></p>
	</div>
</div>


{% else %}


<div class="col-6 col-lg-4" ng-controller="fieldCtrl">
	<div class="panel">
		<div class="panel-heading">
			<h3>Bet</h3>
		</div>
		<p>{{ thisform['description'] }} </p>
		<form name="bet" ng-submit="submitBet()">
			<ul class="list-group">
				<input type="hidden" name="numfields" value="{{ thisform['fields'] | length }}">
				<input type="hidden" name="form_key" value="{{ thisform['key'] }}">
				<li class="list-group-item">
					<input type="text" name="username" placeholder="name">
				</li>
				<input type="hidden" name="auth" value="0">
				{% for field in thisform['fields'] %}
					<li class="list-group-item">
						<h5 class="list-group-item-heading">{{ field['Descr'] }}</h5>
						<select name="{{ field['name'] }}">
						{% for v in field['Val'] %}
							<option>
								{{ v }}
							</option>
						{% endfor %}
						</select>
					</li>
				{% endfor %}
				<li class="list-group-item text-right">
					<input class="btn btn-success" type="submit" value="Bet">
				</li>
			</ul>
			
		</form>
		<div class="panel-info">
			<div class="panel-heading">
				<h5>Additional information</h5>
			</div>
			{{ thisform['info'] }}
		</div>
	</div>
</div>


{% endif %}
{% endif %}

</div>

{% endblock %}