<!doctype html>

<html ng-app lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Betweet.net - La red de apuestas gratuitas!</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>	
	</head>
<body>

{% if auth == 'LOGGED_IN' %}
<p>You are {{ var.get('name') }} <img src="{{ var.get('profile_image_url') }}" width="33px"></p>
{% else %}
<p><a href="{{ var }}">Login</a></p>

{% endif %}

<p>{{ thisform['description'] }}</p>
<p>{{ thisform['until'] }}</p>

<div ng-controller="fieldCtrl">
<form name="bet" ng-submit="submitBet()">
<input type="hidden" name="numfields" value="{{ thisform['fields'] | length }}">
<input type="hidden" name="form_key" value="{{ thisform['key'] }}">

{% if auth == 'LOGGED_IN' %}
<input type="hidden" name="username" value="{{ var.get('screen_name') }}">
{% else %}
<input type="hidden" name="username" value="">
{% endif %}

{% for field in thisform['fields'] %}
{{ field['Descr'] }}
<select name="{{ field['name'] }}">
{% for v in field['Val'] %}
<option>
{{ v }}
</option>
{% endfor %}
</select>
{% endfor %}
<input class="btn btn-success" type="submit" value="Bet">
</form>
</div>
<p>{{ thisform['info'] }}</p>

</body>
</html>